/*
 * File name:   common.css
 * Desc:        Define styles used for global html files.
 * Author:      Richard Wang <wanglei_gmgc@hotmail.com>
 * Create:      2022-04-08
 */

/* Set the default background color for the input. */
.input-bg-color {
    background-color: #ABB7B7;
}

/* Set the style of user brief info. */
/* When the text size is more than the 80% of div width,
   view the ellipsis and hidden the overflow. */
.brief-user-info {
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}
